<%-include('public/header')%>
    <%-include('public/aside')%>
    <div id="page-wrapper" >
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        <%=locals.userName%> <small>欢迎来到账单管理系统</small>
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->

        </div>
        <!-- /. PAGE INNER  -->
        <footer><p>Copyright &copy; 2016.Company name All rights reserved.More Templates - Collect from </p></footer>
    </div>

<%-include('public/footer')%>