<%-include('../public/header')%>
<%-include('../public/aside')%>
<div id="page-wrapper" >
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h3 class="page-header">
                    你当前所在的页面 <small>用户信息修改页面</small>
                </h3>
            </div>
        </div>
        <!-- /. ROW  -->

        <div class="row">
            <div class="col-md-12">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            个人信息
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form id="userForm" name="userForm" method="post" action="/passwordupdate/updated">
                                        <div class="form-group">
                                            <label>用户名：</label>
                                            <input class="form-control" name="userCode">
                                        </div>
                                        <div class="form-group">
                                            <label>旧密码：</label>
                                            <input class="form-control" name="userPassword">
                                        </div>
                                        <div class="form-group">
                                            <label>新密码：</label>
                                            <input class="form-control" name="newuserPassword">
                                        </div>
                                        <div class="form-group">
                                            <label>确认新密码：</label>
                                            <input class="form-control" name="renewPassword">
                                        </div>
                                        <button type="submit" class="btn btn-primary" id="save">保存</button>
                                        <span style="color:red;"><%=locals.error%></span>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
            <!-- /. ROW  -->
        </div>
        <!-- /. ROW  -->
    </div>
    <footer><p>Copyright &copy; 2016.Company name All rights reserved.More Templates - Collect from </p></footer>
</div>

<%-include('../public/footer')%>