<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a href="/bill/list.html"><i class="fa fa-dashboard"></i> 账单管理</a>
            </li>
            <li>
                <a href="/provider/list.html"><i class="fa fa-desktop"></i> 供应商管理</a>
            </li>
            <li>
                <a href="/user/list.html"><i class="fa fa-bar-chart-o"></i> 用户管理</a>
            </li>
            <li>
                <a href="/passwordupdate/update.html"><i class="fa fa-qrcode"></i> 密码修改</a>
            </li>
            <li>
                <a class="active-menu" href="#"><i class="fa fa-fw fa-file"></i> 退出系统</a>
            </li>
        </ul>

    </div>

</nav>